*{

box-sizing: border-box;

}

body{

margin: 0;

text-align: center;

}

.container{

margin: 0 auto;

max-width: 1140px;

background-color: blue;

}
header, Footer, .col{


    padding: 15px;

    outline: 1px solid;

}
.row{

display: flex;

}
.col{

flex-grow: 1;

}
.sidebar{

max-width: 300px;

}
.wrap{

height: calc(100vh - 300px);

}
header, Footer{

height: 150px;

display: flex;

justify-content: center;

align-items: center;

}
body{

background-color: blueviolet;

}